body{
    margin: 0px;
    background-color: #fff;
}

header{
    width: auto;
    height: 110px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 72px;
    font-family: 'Jomhuria', serif;
    color: #fff;

    background-color: #F8DFAF;
}

header > h1{
    margin: auto;

    letter-spacing: 4px;
}

nav{
    width: auto;
    height: 20px;

    background-color: #FFE5B1;
    border-bottom: 4px solid black;
}

section{
    width: auto;
    height: 600px;

    background-image: url(https://cdn.snellman.fi/app/uploads/2023/02/core3ufbtwqsiuffumgpxq.jpg?format=webp&fit=cover);
    background-size: 100%;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;

    border-bottom: 4px solid black;
}

.ruta-1{
    font-size: 72px;
    font-family: 'Jomhuria', serif;
    color: #fff;

    background-color: #FFE5B1;    
    letter-spacing: 3px;

    margin: auto;
    margin-top: 44px;
    width: 400px;
    height: 90px;


    display: flex;
    justify-content: center;
    align-items: center;

    border: 4px solid black;
    border-radius: 20px;

    box-shadow: 5px 5px 5px #151515;    
}

main{
    display: grid;
    grid-template-columns: 40% 60%;
}

.grid-1{
    grid-column: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ikoner{
    width: 500px;
    height: 95px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;

    background-color: #FFE5B1;

    border: 4px solid black;
    border-radius: 20px;

    margin-top: 30px;
    box-shadow: 5px 5px 5px #151515;
}

.grid-1 > .ikoner > .ikon > img{
    width: 60px;
    height: auto;

    margin-top: 5px;
    margin-bottom: -5px;
    margin-left: 20px;
    margin-right: 20px;
}

.grid-1 > .ikoner > .ikon > p{
    margin: 1px;

    color: #fff;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid-1 > .img > img{
    width: 110%;
    height: 90%;
    border: 4px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #151515;
}

.grid-1 > .img{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingredienser{
    margin-top: 25px;
    background-color:#FFE5B1;
    color: black;
    

    width: 500px;
    height: auto;

    border: 4px solid black;
    border-radius: 20px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    box-shadow: 5px 5px 5px #151515;
}

.grid-2{
    grid-column: 2/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.berskrivning{
    width: 400px;
    height: auto;

    background-color: #FFE5B1;
    box-shadow: 5px 5px 5px #151515;

    border: 4px solid black;
    border-radius: 20px;
}

.berskrivning > p{
    margin: 15px;

    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}